
.inputMessage button{
    border: 1px solid black;
    margin: 10px  ;
    padding: 5px;
    border-radius: 5px; 
    background-color:rgb(184, 219, 113);

}
.inputMessage textarea{
    width:250px;
    resize: none;
    margin:10px;
}
.messages{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dialog p {
    margin: 10px;
    padding: 10px;
    background-color: rgb(190, 245, 199);
}
.dialog .mine{
    background-color: rgb(245, 228, 190);
    text-align: right;
}
.users{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 10px;

}
.user{
    margin:5px 0;
    padding:15px;
    border-radius: 30px;
    background-color:rgb(190, 245, 199);
    cursor: pointer
}
.user:hover{
    box-shadow: 0 0 10px rgb(190, 245, 199);
}
